<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Mask Detection</title>
    <link href=" https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet">
</head>
<body>
    <div>
        <h1 style="color: white; text-align: center;">Face Mask Detection</h1>
        <img id="theImage" src="{{ url_for('video_feed') }}">
    </div>
</body>
</html>